/*登陆部分样式*/

.card {
    margin: 0;
    height: 100%;
    width: 100%;
}
.login-list {
    margin: 18% 8% 16px !important;
    .loginbutton {
        height: 44px;
        border-radius: 4px;
        margin: 40% 20%;
        width: 60%;
    }
}
